<a href="https://colab.research.google.com/github/soohi0/BeakJune/blob/master/9372.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
T = int(input())
result = []
for i in range(T):
    n, m = input().split()
    n = int(n)
    m = int(m)
    fromto = []
    graph = [[0 for b in range(m)] for a in range(m)]
    print(graph)
    for j in range(m):
        a, b = input().split()
        a  = int(a)
        b = int(b)
    result.append(n-1)
for r in result:
    print(r)

2
3 3
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
1 2
2 3
1 3
5 4
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
2 1
4 3
4 5
2 3
2
3

In [ ]:
2
3 3
1 2
2 3
1 3
5 4
2 1
2 3
4 3
4 5